// COLORS
$white-100: #fff;
$white-200: #e5e5e5;
$black-100: #181818;
$black-200: #1d1d1c;
$purple: #a5afd4;

$blue-200: #0a2540;

// TYPOGRAPHY
$cg: 'Cormorant Garamond';
$j: 'Plus Jakarta Sans';

$light: 300;
$reg: 400;
$med: 500;
$sb: 600;
$bold: 700;

$screen-lg: 1024px;
