#header {
  @include gutters();
  padding-top: 30px;
  position: absolute;
  left: 0;
  right: 0;

  .Header {
    &--logo {
      font: $bold 18px/1 $cg;
      color: $black-200;
      position: absolute;
      margin: 0;

      &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 23px;
        left: 0;
        transform: translateX(-100%);
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='23' viewBox='0 0 30 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6356 0.73938C10.6356 0.73938 11.7841 6.54365 13.7385 8.27144C13.9528 8.46116 14.2109 8.64664 14.5006 8.8265C14.792 8.64647 15.0517 8.46098 15.2672 8.27144C17.2194 6.55404 18.37 0.73938 18.37 0.73938C18.37 0.73938 19.5185 6.54365 21.4728 8.27144C23.4251 9.99922 29.0035 11.374 29.0035 11.374C29.0035 11.374 23.4271 12.7591 21.4728 14.4765C19.5185 16.1939 18.37 22.0085 18.37 22.0085C18.37 22.0085 17.2215 16.2043 15.2672 14.4765C15.0527 14.2869 14.7946 14.1015 14.505 13.9218C14.2136 14.1017 13.954 14.2871 13.7385 14.4765C11.7841 16.1939 10.6356 22.0085 10.6356 22.0085C10.6356 22.0085 9.48712 16.2043 7.53279 14.4765C5.57846 12.7487 0 11.374 0 11.374C0 11.374 5.58054 9.98884 7.53279 8.27144C9.48504 6.55404 10.6356 0.73938 10.6356 0.73938Z' fill='%231D1D1C'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .Nav {
    display: none;
  }

  #hamburger {
    border: none;
    width: 21px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='15' viewBox='0 0 21 15' fill='none'%3E%3Cpath d='M1.75002 6.04169H19.25C19.6368 6.04169 20.0077 6.19533 20.2812 6.46882C20.5547 6.74231 20.7084 7.11325 20.7084 7.50002C20.7084 7.88679 20.5547 8.25773 20.2812 8.53122C20.0077 8.80471 19.6368 8.95835 19.25 8.95835H1.75002C1.36325 8.95835 0.992314 8.80471 0.718823 8.53122C0.445333 8.25773 0.291687 7.88679 0.291687 7.50002C0.291687 7.11325 0.445333 6.74231 0.718823 6.46882C0.992314 6.19533 1.36325 6.04169 1.75002 6.04169Z' fill='black'/%3E%3Cpath d='M19.25 12H1.75002C1.36325 12 0.992314 12.1536 0.718823 12.4271C0.445333 12.7006 0.291687 13.0716 0.291687 13.4583C0.291687 13.8451 0.445333 14.216 0.718823 14.4895C0.992314 14.763 1.36325 14.9167 1.75002 14.9167H19.25C19.6368 14.9167 20.0077 14.763 20.2812 14.4895C20.5547 14.216 20.7084 13.8451 20.7084 13.4583C20.7084 13.0716 20.5547 12.7006 20.2812 12.4271C20.0077 12.1536 19.6368 12 19.25 12Z' fill='black'/%3E%3Cpath d='M19.25 0H1.75002C1.36325 0 0.992314 0.153646 0.718823 0.427136C0.445333 0.700627 0.291687 1.07156 0.291687 1.45833C0.291687 1.84511 0.445333 2.21604 0.718823 2.48953C0.992314 2.76302 1.36325 2.91667 1.75002 2.91667H19.25C19.6368 2.91667 20.0077 2.76302 20.2812 2.48953C20.5547 2.21604 20.7084 1.84511 20.7084 1.45833C20.7084 1.07156 20.5547 0.700627 20.2812 0.427136C20.0077 0.153646 19.6368 0 19.25 0Z' fill='black'/%3E%3C/svg%3E");
  }
}
